@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

body {
    margin: 0;
    margin-top: 2%;
}

#top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 0;
}

#top p {
    background-color: #fdfbf1;
    border-top: 2px solid #ffdc83;
    width: 100%;
    text-align: center;
    padding-block: 15px;
    color: #087878;
}

main {
    margin: auto;
    width: 700px;
}

#main-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#logo {
    width: 18%;
    margin-bottom: 15px;
}

#core-img {
    width: 100%;
    border-radius: 2%;
    display: flex;
    align-self: center;
}

h1 {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}

figcaption {
    text-align: center;
    margin: 2%;
    color: gray;
}

h3 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    border-bottom: 2px solid rgb(128, 255, 255);
    padding-bottom: 15px;
}

#featured strong {
    color: rgb(219, 58, 0);
}

#featured {
    padding-inline: 15px;
    border-left: 2px solid #ffdc83;
}